# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
env/
file_sharing_system/

# Django
*.sqlite3
media/
staticfiles/
local_settings.py

# IDE / OS
.vscode/
.idea/
*.DS_Store
Thumbs.db

# Secrets
.env
*.env
